body{
    background-color: #dadada;
}

.content{
    
    margin: 20px 5%;
}

.title p{
    font-size: 24px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title h2{
    font-size: 36px;
    margin: 20px 0;
    display: block;
    max-width: 500px;
    text-shadow: 1px 3px 5px rgb(124, 124, 124);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.box-align{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.box{
    height: 230px;
    width: 230px;
    padding: 20px;
    background-color: #fff;
    margin: 20px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;   
    border-radius: 8px; 
    transition: all 0.5s; 
}

div.box:hover{
   
    background-color: #aaa9a9c2; 
     
}


div.box p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* div.box:hover p{
    font-size: 20px;
    color: #1f1f1f
} */

div.links{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    height: 100px;
    
}

div.links a{
    
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    width: 50%;
    margin: 30px 25px;
    border-radius: 5px;
    border: 1px solid gray;
    

}

div.links a:hover{
    font-size: 24px;

}
