body{
    background-color: #dadada;
    overflow-x: hidden;
}

.content{
    
    max-width: 1100px;
    margin: 20px auto 0 ;
    padding: 0 20px;
    
}

.title p{
    
    font-size: 24px;
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.title h2{
    font-size: 36px;
    margin: 20px 0;
    display: block;
    max-width: 500px;
    text-shadow: 1px 3px 5px rgb(124, 124, 124);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

div.box-align{

    display: flex;
    justify-content: space-between; 
}

div.box{
    height: 230px;
    width: 230px;
    padding: 10px;
    background-color: #fff;
    margin: 20px 20px;
    display: flex;
    align-items: center;
    text-align: center;   
    border-radius: 8px; 
    transition: all 0.3s; 
}

div.box:hover{
   
    background-color: #aaa9a9c2; 
     
}


div.box p{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

div.links{
    display: flex;
    max-width: 700px;
    margin: 0 auto;
    height: 100px;
    
}

div.links a{
    
    text-decoration: none;
    color: black;
    font-family: monospace;
    font-size: 22px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
    width: 50%;
    margin: 30px 25px;
    border-radius: 5px;
    border: 1px solid gray;
    

}

div.links a:hover{
    font-size: 24px;

}

/*--------------------------------RESPONSIVIDADE-----------------------------------------------*/


@media (max-width: 400px){
    

    .title h2{
        font-size: 30px;
        margin: 20px 0;
        display: inline-block;
    }

    .title p{
        font-size: 28px;

    }

    div.box-align{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    div.box{
        height: 150px;
        width: 120px;
        margin: 15px 20px;
    }
   
    div.box p{
        font-size: 15px;
        
    }

    div.links{
        display: flex;
        height: 130px;
        justify-content: space-between;
      
    }

    div.links a{
    
    font-size: 19px;
    text-align: center;
    transition: all 0s; 

    }
    div.links a:hover{
        font-size: 19px;
        border: 2px solid black;
    
    }
    
}
